<div class="container">
  <div class="footer-wrap">
    <div class="footer-play-mob">
      <p class="footer-title">Ready to feed the hungriest cats?</p>
      <a
        class="footer-btn"
        href="https://play.google.com/store/apps/details?id=com.DinozGames.HungryCats&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="footer-btn-svg" width="28" height="28">
          <use href="./img/sprite.svg#icon-play"></use>
        </svg>
        Play on Google Play
      </a>
    </div>
    <div class="footer-picture-box">
      <picture class="footer-picture-mob">
        <source
          media="(min-width: 320px)"
          srcset="
            img/cta/cta-cat-mob(1).png   1x,
            img/cta/cta-cat-mob(1)2x.png 2x
          "
        />
        <img
          srcset="
            img/cta/cta-cat-mob(1).png   1x,
            img/cta/cta-cat-mob(1)2x.png 2x
          "
          src="img/cta/cta-cat-mob(1).png"
          alt="cat"
        />
      </picture>
    </div>
    <div class="footer-picture-box">
      <ul class="footer-picture-desk">
        <li>
          <div>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="img/cta/cta-cat(1).png 1x, img/cta/cta-cat(1)2x.png 2x"
              />
              <img
                srcset="img/cta/cta-cat(1).png 1x, img/cta/cta-cat(1)2x.png 2x"
                src="img/cta/cta-cat(1).png"
                alt="cat"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="footer-play">
            <p class="footer-title">Ready to feed the hungriest cats?</p>
            <button class="footer-btn">
              <svg class="footer-btn-svg" width="35" height="35">
                <use class="footer-btn-svg" href="/sprite.svg#icon-play"></use>
              </svg>
              Play on Google Play
            </button>
          </div>
        </li>
        <li>
          <div>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="img/cta/cta-cat(2).png 1x, img/cta/cta-cat(2)2x.png 2x"
              />
              <img
                srcset="img/cta/cta-cat(2).png 1x, img/cta/cta-cat(2)2x.png 2x"
                src="img/cta/cta-cat(2).png"
                alt="cat"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
