<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq-main-title">Quick answers</h2>
    <div class="faq-wrap">
      <ul class="faq-list accordion-container" data-accordion>
        <li class="ac">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger">
              Is Hungry Cats beginner-friendly?
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              Yes, the gameplay is simple and easy to understand.
            </p>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger">
              Can players unlock different cats?
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              Yes, new cat characters become available during progression.
            </p>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger">
              Does the game focus on relaxing gameplay?
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              Absolutely! It's our antidote to those rage-inducing mobile games
              - pure wholesome fun.
            </p>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger">
              Are there boosters available?
            </button>
          </h3>
          <div class="ac-panel">
            <p class="ac-text">
              Yes, players can use special power-ups during gameplay.
            </p>
          </div>
        </li>
      </ul>
      <div class="faq-picture-box">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="img/faq/faq-cat-mob.png 1x, img/faq/faq-cat-mob2x.png 2x"
          />
          <source
            media="(min-width: 1440px)"
            srcset="img/faq/faq-cat.png 1x, img/faq/faq-cat2x.png 2x"
          />
          <img
            srcset="img/faq/faq-cat-mob.png 1x, img/faq/faq-cat-mob2x.png 2x"
            src="img/faq/faq-cat-mob.png"
            alt="cat"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
