<section class="features" id="features">
  <div class="container">
    <h2 class="features-main-title">Features</h2>
    <ul class="features-list">
      <li class="features-item features-item-first">
        <div class="features-wrap-mob">
          <div class="features-picture-box">
            <picture>
              <source
                media="(min-width: 320px)"
                srcset="
                  img/features/features-mob(1).png   1x,
                  img/features/features-mob(1)2x.png 2x
                "
              />
              <img
                srcset="
                  img/features/features-mob(1).png   1x,
                  img/features/features-mob(1)2x.png 2x
                "
                src="img/features/features-mob(1).png"
                alt="cat"
              />
            </picture>
          </div>
          <div class="features-text-box">
            <h3 class="features-text-box-title">Adorable Cartoon Cats</h3>
            <p class="features-text-box-text">
              Every cat's got their own little personality quirks, and you can
              totally see it in how they move and react to stuff.
            </p>
          </div>
        </div>
        <div class="features-wrap-desk">
          <div class="features-picture-box-desk">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/features/features(1).png   1x,
                  img/features/features(1)2x.png 2x
                "
              />
              <img
                srcset="
                  img/features/features-mob(1).png   1x,
                  img/features/features-mob(1)2x.png 2x
                "
                src="img/features/features-mob(1).png"
                alt="bright food"
              />
            </picture>
            <h3 class="features-text-box-title-desk">Adorable Cartoon Cats</h3>
          </div>
          <p class="features-text-box-text-overlay">
            Every cat's got their own little personality quirks, and you can
            totally see it in how they move and react to stuff.
          </p>
        </div>
      </li>
      <li class="features-item features-item-first">
        <div class="features-wrap-mob">
          <div class="features-picture-box">
            <picture>
              <source
                media="(min-width: 320px)"
                srcset="
                  img/features/features-mob(2).png   1x,
                  img/features/features-mob(2)2x.png 2x
                "
              />
              <img
                srcset="
                  img/features/features-mob(2).png   1x,
                  img/features/features-mob(2)2x.png 2x
                "
                src="img/features/features-mob(2).png"
                alt="bright food"
              />
            </picture>
          </div>
          <div class="features-text-box">
            <h3 class="features-text-box-title">Bright Food-Themed Visuals</h3>
            <p class="features-text-box-text">
              Everything's super bright and colorful, which just makes the whole
              thing feel fun and upbeat.
            </p>
          </div>
        </div>
        <div class="features-wrap-desk">
          <div class="features-picture-box-desk">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/features/features(2).png   1x,
                  img/features/features(2)2x.png 2x
                "
              />
              <img
                srcset="
                  img/features/features-mob(2).png   1x,
                  img/features/features-mob(2)2x.png 2x
                "
                src="img/features/features-mob(2).png"
                alt="bright food"
              />
            </picture>
            <h3 class="features-text-box-title-desk">
              Bright Food-Themed Visuals
            </h3>
          </div>
          <p class="features-text-box-text-overlay">
            Everything's super bright and colorful, which just makes the whole
            thing feel fun and upbeat.
          </p>
        </div>
      </li>
      <li class="features-item features-item-first">
        <div class="features-wrap-mob">
          <div class="features-picture-box">
            <picture>
              <source
                media="(min-width: 320px)"
                srcset="
                  img/features/features-mob(3).png   1x,
                  img/features/features-mob(3)2x.png 2x
                "
              />
              <img
                srcset="
                  img/features/features-mob(3).png   1x,
                  img/features/features-mob(3)2x.png 2x
                "
                src="img/features/features-mob(3).png"
                alt="relaxing cat"
              />
            </picture>
          </div>
          <div class="features-text-box">
            <h3 class="features-text-box-title">Relaxing Casual Sessions</h3>
            <p class="features-text-box-text">
              Great for playing during your coffee break or while waiting for
              the bus.
            </p>
          </div>
        </div>
        <div class="features-wrap-desk">
          <div class="features-picture-box-desk">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/features/features(3).png   1x,
                  img/features/features(3)2x.png 2x
                "
              />
              <img
                srcset="
                  img/features/features-mob(3).png   1x,
                  img/features/features-mob(3)2x.png 2x
                "
                src="img/features/features-mob(3).png"
                alt="relaxing cat"
              />
            </picture>
            <h3 class="features-text-box-title-desk">
              Relaxing Casual Sessions
            </h3>
          </div>
          <p class="features-text-box-text-overlay">
            Great for playing during your coffee break or while waiting for the
            bus.
          </p>
        </div>
      </li>
      <li class="features-item features-item-second">
        <div class="features-wrap-mob">
          <div class="features-picture-box">
            <picture>
              <source
                media="(min-width: 320px)"
                srcset="
                  img/features/features-mob(4).png   1x,
                  img/features/features-mob(4)2x.png 2x
                "
              />
              <img
                srcset="
                  img/features/features-mob(4).png   1x,
                  img/features/features-mob(4)2x.png 2x
                "
                src="img/features/features-mob(4).png"
                alt="cat's paw"
              />
            </picture>
          </div>
          <div class="features-text-box">
            <h3 class="features-text-box-title">Smooth Toush Contrals</h3>
            <p class="features-text-box-text">
              The controls are really smooth - no lag or weird touch issues that
              make you want to throw your phone.
            </p>
          </div>
        </div>
        <div class="features-wrap-desk">
          <div class="features-picture-box-desk">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/features/features(4).png   1x,
                  img/features/features(4)2x.png 2x
                "
              />
              <img
                srcset="
                  img/features/features-mob(4).png   1x,
                  img/features/features-mob(4)2x.png 2x
                "
                src="img/features/features-mob(1).png"
                alt="cat's paw"
              />
            </picture>
            <h3 class="features-text-box-title-desk">Smooth Toush Contrals</h3>
          </div>
          <p class="features-text-box-text-overlay">
            The controls are really smooth - no lag or weird touch issues that
            make you want to throw your phone.
          </p>
        </div>
      </li>
      <li class="features-item features-item-second">
        <div class="features-wrap-mob">
          <div class="features-picture-box">
            <picture>
              <source
                media="(min-width: 320px)"
                srcset="
                  img/features/features-mob(5).png   1x,
                  img/features/features-mob(5)2x.png 2x
                "
              />
              <img
                srcset="
                  img/features/features-mob(5).png   1x,
                  img/features/features-mob(5)2x.png 2x
                "
                src="img/features/features-mob(5).png"
                alt="cat with reward"
              />
            </picture>
          </div>
          <div class="features-text-box">
            <h3 class="features-text-box-title">Rewarding Progression</h3>
            <p class="features-text-box-text">
              Always something new popping up! Collect more cute cats, solve
              trickier puzzles, and enjoy the chaos.
            </p>
          </div>
        </div>
        <div class="features-wrap-desk">
          <div class="features-picture-box-desk">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/features/features(5).png   1x,
                  img/features/features(5)2x.png 2x
                "
              />
              <img
                srcset="
                  img/features/features-mob(5).png   1x,
                  img/features/features-mob(5)2x.png 2x
                "
                src="img/features/features-mob(5).png"
                alt="cat with reward"
              />
            </picture>
            <h3 class="features-text-box-title-desk">Rewarding Progression</h3>
          </div>
          <p class="features-text-box-text-overlay">
            Always something new popping up! Collect more cute cats, solve
            trickier puzzles, and enjoy the chaos.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
