<footer class="footer">
  <div class="container">
    <div class="footer-info">
      <div class="footer-info-wrap">
        <div class="footer-info-mail">
          <a href="./index.html" class="footer-mini-title">Hungry Cats</a>
          <a class="footer-link" href="mailto:info@coretrail.space"
            >info@coretrail.space</a
          >
        </div>
        <div class="footer-info-box">
          <a class="footer-link" href="../privacy-policy.html"
            >Privacy Policy</a
          >
          <a class="footer-link" href="../terms.html">Terms of Service</a>
        </div>
      </div>
      <p class="footer-text">© 2026 coretrail.space — All rights reserved.</p>
    </div>
  </div>
</footer>
