<section class="hero">
  <div class="container">
    <div class="hero-move">
      <div class="hero-text">
        <h1 class="hero-title">Cute Cats. Endless Snacks the game</h1>
        <p class="hero-desk">Fun puzzle gameplay with adorable feline chaos</p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.DinozGames.HungryCats&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="hero-icon" width="28" height="28">
            <use href="./img/sprite.svg#icon-play"></use>
          </svg>
          Play on Google Play
        </a>
      </div>
      <div class="hero-image">
        <picture class="hero-photo">
          <source
            srcset="./img/hero/hero.png 1x, ./img/hero/hero2x.png 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/hero/hero-mob.png 1x, ./img/hero/hero-mob2x.png 2x"
            media="(min-width: 320px)"
          />
         <img
    src="./img/hero/hero-mob.png"
    alt="Cute cats game"
  />
        </picture>
      </div>
    </div>
  </div>
</section>
