<section class="howtoplay" id="howtoplay">
  <div class="howtoplay-cont container">
    <h2 class="howtoplay-title">How to Play</h2>
    <p class="howtoplay-parag">
      Simple food puzzles with playful cat reactions
    </p>
    <div class="swiper howtoplay-swiper">
      <ul class="swiper-wrapper howtoplay-list">
        <li class="swiper-slide howtoplay-item">
          <div class="howtoplay-img-cont">
            <picture class="howtoplay-photo">
              <source
                srcset="
                  ./img/how-to-play/how-to-play(1).png   1x,
                  ./img/how-to-play/how-to-play(1)2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/how-to-play/how-to-play-mob(1).png   1x,
                  ./img/how-to-play/how-to-play-mob(1)2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/how-to-play/how-to-play(1).png"
                alt="how-to-play"
                width="170"
                height="180"
                loading="lazy"
              />
            </picture>
          </div>
          <p class="howtoplay-text">Complete Puzzle Challenges</p>
        </li>

        <li class="swiper-slide howtoplay-item">
          <div class="howtoplay-img-cont">
            <picture class="howtoplay-photo">
              <source
                srcset="
                  ./img/how-to-play/how-to-play(2).png   1x,
                  ./img/how-to-play/how-to-play(2)2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/how-to-play/how-to-play-mob(2).png   1x,
                  ./img/how-to-play/how-to-play-mob(2)2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/how-to-play/how-to-play(2).png"
                alt="how-to-play"
                width="170"
                height="180"
                loading="lazy"
              />
            </picture>
          </div>
          <p class="howtoplay-text">Feed Hungry Cats</p>
        </li>
        <li class="swiper-slide howtoplay-item">
          <div class="howtoplay-img-cont">
            <picture class="howtoplay-photo">
              <source
                srcset="
                  ./img/how-to-play/how-to-play(3).png   1x,
                  ./img/how-to-play/how-to-play(3)2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/how-to-play/how-to-play-mob(3).png   1x,
                  ./img/how-to-play/how-to-play-mob(3)2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/how-to-play/how-to-play(3).png"
                alt="how-to-play"
                width="170"
                height="180"
                loading="lazy"
              />
            </picture>
          </div>
          <p class="howtoplay-text">Unlock New Cats</p>
        </li>
        <li class="swiper-slide howtoplay-item">
          <div class="howtoplay-img-cont">
            <picture class="howtoplay-photo">
              <source
                srcset="
                  ./img/how-to-play/how-to-play(4).png   1x,
                  ./img/how-to-play/how-to-play(4)2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/how-to-play/how-to-play-mob(4).png   1x,
                  ./img/how-to-play/how-to-play-mob(4)2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/how-to-play/how-to-play(4).png"
                alt="how-to-play"
                width="170"
                height="180"
                loading="lazy"
              />
            </picture>
          </div>
          <p class="howtoplay-text">Use Special Boosters</p>
        </li>
        <li class="swiper-slide howtoplay-item">
          <div class="howtoplay-img-cont">
            <picture class="howtoplay-photo">
              <source
                srcset="
                  ./img/how-to-play/how-to-play(5).png   1x,
                  ./img/how-to-play/how-to-play(5)2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/how-to-play/how-to-play-mob(5).png   1x,
                  ./img/how-to-play/how-to-play-mob(5)2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/how-to-play/how-to-play(5).png"
                alt="how-to-play"
                width="170"
                height="180"
                loading="lazy"
              />
            </picture>
          </div>
          <p class="howtoplay-text">Progress Through Colorful Levels</p>
        </li>
        <li class="swiper-slide howtoplay-item">
          <div class="howtoplay-img-cont">
            <picture class="howtoplay-photo">
              <source
                srcset="
                  ./img/how-to-play/how-to-play(6).png   1x,
                  ./img/how-to-play/how-to-play(6)2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/how-to-play/how-to-play-mob(6).png   1x,
                  ./img/how-to-play/how-to-play-mob(6)2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/how-to-play/how-to-play(6).png"
                alt="how-to-play"
                width="170"
                height="180"
                loading="lazy"
              />
            </picture>
          </div>
          <p class="howtoplay-text">Enjoy Pure Wholesome Fun</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
