html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 56px;
}

@media screen and (min-width: 1440px) {
  [id] {
    scroll-margin-top: 70px;
  }
}

:root {
  --blue-100: #e3edf7;
  --blue-200: #d2e6fa;
  --blue-300: #bdc8d2;
  --blue-500: #6e96a7;
  --nude-100: #fdfef6;
  --nude-200: #f3ede2;
  --nude-300: #e4dbcb;
  --red-500: #fe531f;
  --brown-700: #4a3525;
  --default-0: #fff;
  --background-main-brand-color: var(--blue-100);
  --background-second-brand-color: var(--nude-100);
  --background-invers: var(--blue-500);
  --typography-white: var(--default-0);
  --typography-main: var(--brown-700);
  --button-primary: var(--red-500);
  --border-700: var(--brown-700);
  --element-700: var(--brown-700);
  --background-accordion-surface: var(--nude-300);
  --background-accordion-base: var(--nude-200);
  --element-0: var(--default-0);
  --background-dark-nude: var(--nude-300);
  --background-cards-base-nude: var(--nude-300);
  --background-cards-base-blue: var(--blue-300);
  --element-blue: var(--blue-100);
  --blue: #6c85dd;
  --typography-link: var(--blue);
  --nude-400: #c2b7a5;
  --nude-500: #e0dacf;
  --element-page-active: var(--nude-400);
  --element-page-unactive: var(--nude-500);
  --button-additional: var(--blue-500);

  font-family: 'Montserrat', 'Inter', sans-serif;
  color: #4a3525;
  background-color: #e3edf7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
   overflow-x: hidden;
}

main {
  flex-grow: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

