html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; 
}

@media screen and (min-width: 1200px) {

  section {
    scroll-margin-top: 160px;
  }
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #1c1c1c;
  background-color: #ffebd7;

  --color-text: #1c1c1c;
  --color-beg: #ffebd7;
  --color-beg-accent: #ffda8b;
  --color-pink: #ef6dc8;
  --color-pink-accent: #db19a9;
  --color-btn: #fcb825;
  --color-disable: #a4a4a4;
  --color-white: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}
h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}
p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}