.features {
  padding: 64px 15px;
  width: 375px;
  background: var(--background-main-brand-color);
}
.features-main-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--typography-main);
  margin-bottom: 24px;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.features-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.features-wrap-mob {
  display: flex;
  flex-direction: row;
  border-radius: 32px;
  padding: 36px 21px;
  width: 345px;
  height: 198px;
  background: var(--background-cards-base-blue);
  gap: 15px;
}
.features-picture-box {
  display: flex;
  background: radial-gradient(
    49.3% 40.12% at 55.51% 58.73%,
    #e3edf7 54%,
    #bdc8d2 100%
  );
}
.features-wrap-desk {
  display: none;
}
.features-text-box {
  display: flex;
  flex-direction: column;
  width: 161px;
  height: 126px;
}
.features-text-box-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-align: start;
  color: var(--typography-main);
}
.features-text-box-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.62;
  color: var(--typography-main);
}

@media only screen and (min-width: 1440px) {
  .features {
    padding: 100px 72px;
    width: 1440px;
  }
  .features-main-title {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 42px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 32px;
    column-gap: 24px;
  }
  .features-item {
    position: relative;
    overflow: hidden;
  }
  .features-item-first {
    width: calc((100% - 48px) / 3);
  }
  .features-item-second {
    width: calc((100% - 24px) / 2);
  }
  .features-wrap-mob {
    display: none;
  }
  .features-wrap-desk {
    display: flex;
    flex-direction: column;
  }
  .features-picture-box-desk {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 32px;
    padding: 57px 110px 57px 111px;
    height: 397px;
    background: radial-gradient(
      34.89% 34.89% at 50% 45.84%,
      #e3edf7 45.67%,
      #bdc8d2 100%
    );
  }

  .features-text-box-title-desk {
    font-size: 24px;
    text-align: center;
  }
  .features-text-box-text-overlay {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--typography-main);
    background: var(--background-cards-base-blue);
    border-radius: 32px;
    padding: 57px 110px 57px 111px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .features-item:hover .features-text-box-text-overlay {
    transform: translateY(0);
  }
}
