.footer {
  width: 100%;
  background-color: var(--background-invers);
  z-index: 10;
}

.footer-info {
  display: flex;
  flex-direction: column;
  padding: 64px 54px;
}
.footer-info-mail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-mini-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: var(--typography-white);
}
.footer-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.62;
  text-align: center;
  color: var(--typography-white);
}
.footer-info-box {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-evenly;
  margin: 32px auto 48px;
}
.footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: var(--typography-white);
  text-align: center;
}

@media only screen and (min-width: 1440px) {
  .footer-info-wrap {
    display: flex;
    flex-direction: row;
    gap: 900px;
    margin-bottom: 64px;
  }
  .footer-info-mail {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1px;
  }

  .footer-mini-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    color: var(--typography-white);
    margin-bottom: 0;
  }
  .footer-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--typography-white);
  }
  .footer-info-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1px;
    margin: 0;
  }
  .footer-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--typography-white);
    text-align: center;
  }
}
