.terms {
  padding: 48px 16px;
  width: 375px;
  background: var(--background-second-brand-color);
  display: flex;
  flex-direction: column;
}
.terms-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 32px;
  padding: 10px;
  min-width: 160px;
  height: 40px;
  background: var(--button-additional);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: var(--typography-white);
  margin: 0 auto 48px;
}
.terms-main-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  color: var(--typography-main);
  text-align: center;
  margin-bottom: 8px;
}
.terms-date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--typography-main);
  margin-bottom: 48px;
}
.terms-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.62;
  color: var(--typography-main);
  margin-bottom: 48px;
}
.terms-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--typography-main);
  margin-bottom: 16px;
}
.domain {
  color: var(--typography-link);
}
.terms-list-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.62;
  color: var(--typography-main);
  margin-bottom: 0;
}
.terms-list {
  list-style: decimal;
  padding-left: 24px;
  margin-bottom: 48px;
}

@media only screen and (min-width: 1440px) {
  .terms {
    padding: 70px 158px 100px;
    width: 1440px;
  }
  .terms-btn {
    min-width: 360px;
    height: 75px;
    font-size: 24px;
    margin: 0 auto 100px;
  }
  .terms-main-title {
    font-size: 64px;
  }
  .terms-date {
    font-size: 32px;
    line-height: 1.69;
    margin-bottom: 64px;
  }
  .terms-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 48px;
  }
  .terms-title {
    font-weight: 500;
    font-size: 48px;
    margin-top: 16px;
  }
  .terms-list-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .terms-list {
    list-style: decimal;
    padding-left: 24px;
    margin-bottom: 48px;
  }
}
